header {
  margin-bottom: 5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #fffaf7;
  width: 100dvw;
  color: #1d1610;
}

nav.mainMenu {
  width: 100dvw;
  background-color: #d4b692;
  height: 10dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.mainMenu a {
  color: #1d1610;
  /* Barva textu v navigaci */
  font-size: 1.5em;
  /* Použití em jednotky pro flexibilní velikost fontu */
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
  /* Přidání efektu při najetí myší */
}

nav.mainMenu a:hover {
  color: #12100b;
  /* Změna barvy při najetí myší */
}

.imgMain {
  display: block;
  float: right;
  margin: 20px auto;
  max-width: 100dvw;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  /* Změna opacity na procenta */
  transition: opacity 0.3s ease;
  /* Přidání efektu při najetí myší */
}

.imgMain:hover {
  opacity: 1;
  /* Plná opacity při najetí myší */
}

/* Stylování pro větší obrazovky */
@media (min-width: 768px) {
  .imgMain {
    width: 50dvw;
    margin-left: 50%;
  }
}


/*body main stránky */
.nameMain {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40dvw;
  height: 50dvh;
  margin-right: 50%;
  margin-top: 20%;
  color: #828282;
}

/*název salonu a popis*/

div.servis {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5%;
}

/*zaobalení servis div do Flexboxu*/
.servis .mokraPedi,
.luxus,
.gellak,
.hloubkovaMasaz,
.parafin,
.diabetik,
.Dojezd {
  flex: 0 1 calc(30% - 20px);
  padding: 10px;
}

/*zarovnání sloupců  */


/*CENÍK*/
.price {
  width: 80%;
}

.price p {
  display: flex;
  margin: 10px 0;
  padding: 10px;
  background-color: #e9cba7;
  border-radius: 5px;
  box-shadow: 0 2px 4px #0000001a;
  font-size: 1.1em;
  line-height: 1.4;
  flex-direction: row;
  justify-content: space-between;
}

.price p.priceDate {
  display: flex;
  justify-content: center;
}



/*PAGE GALLERY*/
body.prace {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

/*pictures in gallery*/
.img1 {
  max-height: 50vh;
  max-width: 30vw;
  height: auto;
  margin: 20px;
}

/*styled container of gallery*/
.prace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  flex-direction: row;
}

/*PAGE GIFT CARD*/
.giftCard {
  margin: 15dvh 10dvw;
  padding-left: 50%;
  position: absolute;
}

.imgGift {
  max-width: 50dvw;
  margin-right: 50%;
  margin-left: 10%;
}

/*PAGE ABOUT US*/
.aboutImg {
  max-width: 50dvw;
  margin-right: 55%;
  margin-left: 20%;
}

.aboutContent {
  margin: 15dvh 10dvw;
  padding-left: 50%;
  position: absolute;
}

/*PAGE CONTACT*/

.contactContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10% 20% 10% 80%;
}
